@tailwind base;
@tailwind components;
@tailwind utilities;


.list-container{
    li {
        h1 {
          @apply text-2xl;
        }
      
        p {
          @apply text-xl;
        }
      }
}

.profiles{
    div{
        @apply size-56;
    }
    img{
        @apply rounded-full;
        @apply overflow-hidden;
    }
    h1{
        @apply text-center;
        @apply text-2xl;
    }
    p{
        @apply text-xl;
    }
    a{
        @apply text-center;
    }
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
    width: 350px;
  }

p{
    color:black;
}

@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.rotate-animation {
    animation: rotateAnimation 2s infinite;
    animation-fill-mode: forwards;
  }

.custom-transition {
  transition-duration: 2.5s; 
}

.sticky-note{
  position:relative; 
}

.sticky-note:hover, .sticky-note:focus {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}